$font-large: 1.5rem;
$font-normal: 1rem;

//margins
$small-margin: 0.5rem;
$margin: 1rem;
$margin-large: 2rem;
$margin-xlarge: 5rem;

//height
$header-heigh: 84px;

//images sizes
$all-movies-width: 225px;
$all-movies-height: 325px;
$single-movie-width: 325px;
$single-movie-height: 450px;

//display
$flex: flex;

//flex align
$center: center;
$space-beetween: space-between;
$baseline: baseline;

//flex direction
$column: column;